body{
	background-color: #eceff1;
	font-size: 22px;
}
.heading{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: #5F9F9F;
	background: #ef9a9a99;
	border: 2px solid #b0bec5;
	border-radius: 20px;
}

 form{
	width: 49%;
	margin: 30px auto;
	border-radius: 5px;
	padding: 10px;
	background: #ef9a9a99;
	border: 2px solid #b0bec5;
}

form p {
	color: red;
	margin: 0px;
}
.task_input{
	width: 73%;
	height: 15px;
	padding: 10px;
	border: 2px solid #b0bec5;
}

.add_btn{
	height: 39px;
	background: #70DB93;
	color: #000;
	font-size: 15px;
	border: 2px solid #b0bec5;
	border-radius: 5px;
	padding: 5px 20px;
}


table{
	width: 50%;
	margin: 30px auto;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #5F9F9F;
}

th,td{
	border: none;
	height: 30px;
	padding: 2px;
}

tr:hover{
	background: #E9E9E9;
}

.task{
	text-align: left;
}

.delete{
	text-align: center;
}

.delete a{
	color: black;
	background: #cc333399;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}

a {
	height: 39px;
	background: #cc333399;
	color: #000;
	border: 2px solid #b0bec5;
	border-radius: 5px;
	padding: 5px 20px;
	text-decoration: none;
}











